body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #202124;
    color: white;
}

.upper-content {
    justify-self: right;
    padding: 10px;
}
    .upper-content > a {
        color: white;
        padding-left: 10px;
        text-decoration: none;
    }

.main-content {
    justify-items: center;
    padding-top: 210px;
}
    .main-content > a > img {
        width: 272px;
        padding-bottom: 24px;
    }

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 8px;
    color: #888;
    animation: rainbowColors 20s linear infinite;
}

@keyframes rainbowColors {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}



.search-content {
    align-items: center;
    display: flex;
    color: white;
    width: 560px;
    height: 43px;
    padding-left: 20px;
    background-color: #4d5157;
    border: 1px solid transparent;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
}
    .search-input {
        color: white;
        background-color: #4d5157;
        border: none;
        outline: none;
    }
    .search-button {
        font-size: 14;
        background-color: #303134;
        color: white;
        border: 1px solid #303134;
        margin: 11px 4px;
        padding: 0 16px;
        height: 36px;
    }